@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap");

#find-doctor {
    position: fixed;
    top: 8%;
    left: 37.5%;
    margin-top: 5px;
    margin-left: -50px;
  }
  .doctor-type {
    -webkit-appearance: menulist-button;
    height: 31.75px;
    width: 80px;
  }
  #find-doctor input[type="submit"] {
    background-color: #cfc;
    color: #060;
    height: 31.75px;
    width: 80px;
  }
  
  table {
    width: 750px;
    border-collapse: collapse;
    margin: 50px auto;
  }
  
  /* Zebra striping */
  tr:nth-of-type(odd) {
    background: #eee;
  }
  
  th {
    background: #3498db;
    color: white;
    font-weight: bold;
  }
  
  td,
  th {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 18px;
  }
  
  @media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {
    table {
      width: 100%;
    }
  
    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }
  
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
  
    tr {
      border: 1px solid #ccc;
    }
  
    td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
    }
  
    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      /* Label the data */
      content: attr(data-column);
  
      color: #000;
      font-weight: bold;
    }
  }
  